*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#000;
  overflow:hidden;
}

/* Pages */
.container{
  display:flex;
  width:400vw;
  height:100vh;
  transition:transform 1s ease;
}

.page{
  width:100vw;
  height:100vh;
  flex-shrink:0;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  color:#fff;
  position:relative;
}

/* Heart */
.heart{
  width: 100px;
  height: 100px;
  background:red;
  position:relative;
  transform:rotate(-45deg);
  animation:beat 1s infinite;
}
.heart::before,
.heart::after{
  content:'';
  width: 100px;
  height: 100px;
  background:red;
  border-radius:50%;
  position:absolute;
}
.heart::before{ top:-50px; }
.heart::after{ left: 50px; }

@keyframes beat{
  0%,100%{ transform:rotate(-45deg) scale(1); }
  50%{ transform:rotate(-45deg) scale(1.2); }
}

.page h1{
  margin-top:30px;
  text-align:center;
  font-size:10px;
}

/* Images */
.page img{
  width:50%;
  max-width:200px;
  border-radius:20px;
  box-shadow:0 0 30px pink;
}

/* Video */
video{
  width:85%;
  max-width:320px;
  border-radius:15px;
}

/* Gallery */
.gallery{
  display:flex;
  gap:15px;
}
.gallery img{
  width:100px;
  height:140px;
  object-fit:cover;
  border-radius:15px;
}

/* Button */
button{
  position:absolute;
  bottom:110px;
  padding:12px 30px;
  border:none;
  background:crimson;
  color:#fff;
  border-radius:30px;
  font-size:16px;
  cursor:pointer;
}

/* Falling hearts */
.heart-fall{
  position:absolute;
  top:-10%;
  font-size:20px;
  animation:fall linear infinite;
}

@keyframes fall{
  to{
    transform:translateY(120vh);
    opacity:0;
  }

}
